//global body
body {
  font-family: "titilliumWeb";
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: $color-background__light-grey;
}

// global fonts h1, h2, h3, h4, p
h1 {
  @include font-mobile__h1;
  @include tablet {
    @include font__h1;
  }
}

h2 {
  @include font-mobile__h2;
  @include tablet {
    @include font__h2;
  }
}
h3 {
  @include font-mobile__h3;
  @include tablet {
    @include font__h3;
  }
}
h4 {
  @include font-mobile__h4;
  @include tablet {
    @include font__h4;
  }
}
p {
  @include font-mobile__p2;
  @include tablet {
    @include font__p2;
  }
}
