//Mobile Design

.header-container {
  height: 136px;
  display: flex;
  flex-direction: column;
  background-color: $color-background__graphite;
  padding: 0 1rem;
}

.logo {
  padding: 1.89rem 0 1.5rem;
}

.button {
  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__warehouses {
    width: 10.25rem;
    padding-top: 0.70rem;
    border: none;
    font-size: 13px;
    background-color: $color-background__graphite;
    color: $color-secondary__cloud;
    &--active {
      @include active-button
    }
  }

  &__inventory {
    width: 10.18rem;
    padding-top: 0.70rem;
    border: none;
    background-color: $color-background__graphite;
    color: $color-secondary__cloud;
    &--active {
      @include active-button
    }
  }
}



//Tablet Design
@include tablet {
  .header-container {
    height: 92px;
    flex-direction: row;
    justify-content: space-between;
  }
  .button {
    &__container {
      width: 11.81rem;
      justify-content: center;
      align-items: center;
    }
    &__warehouses {
      width: 10rem;

    }
  }
}

//Desktop Design
@include desktop {
  .header-container {
    padding: 0 8.12rem;
  }
}