.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  height: 195px;
  background-color: #232940;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include font-selector(
    $font-mobile__p2-font-size,
    $font-mobile__p2-line-height
  );

  &__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: baseline;
  }

  &__warehouses {
    width: 164px;
    height: 36px;
    background-color: #13182c;
    color: white;
    border-radius: 20px;
    width: 10.25rem;
    height: 1.25rem;
  }

  &__inventory {
    background-color: #13182c;
    color: #bdc5d5;
  }
}
