.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(black, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-button {
    background-color: $color-primary__white;
    border: none;
  }
  &-content {
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 99;
    right: $padding__base * 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-primary__white;
  }
  &-dailog {
    background-color: $color-primary__white;
    opacity: 1;
  }
  &-header {
    display: flex;
    flex-direction: column;

    .close {
      &:nth-child(2) {
        order: 1;
        align-self: flex-end;
        width: 24px;
        height: 24px;
        margin-right: 21px;
        background-color: $color-primary__white;
        border: none;
        @include font__p1;
      }
    }
  }
  &-title {
    &:nth-child(1) {
      order: 2;
    }
  }
  &-body {
    // width: 50%;
  }
  &-footer {
    // width: 50%;
  }
}
