// *****FONTS
// ****MOBILE FONTS
// Mobile H1- Page Header
$font-mobile__h1-font-size: 1.75rem; // 28px;
$font-mobile__h1-line-height: 2.25rem; // 36px;

// Mobile H2 - subheader
$font-mobile__h2-font-size: 1.25rem; // 20px;
$font-mobile__h2-line-height: 1.75rem; // 28px;

// Mobile H3 - labels, Links, & Buttons
$font-mobile__h3-font-size: 0.81rem; // 13px;
$font-mobile__h3-line-height: 1.25rem; // 20px;

// Mobile H4 - Table Headers
$font-mobile__h4-font-size: 0.68rem; // 11px;
$font-mobile__h4-line-height: 1rem; // 16px;

// Mobile P1 - Body Large
$font-mobile__p1-font-size: 0.93rem; // 15px;
$font-mobile__p1-line-height: 1.62rem; // 26px;

//Mobile p2 - Body Medium -- base
$font-mobile__p2-font-size: 13px; // base mobile font size
$font-mobile__p2-line-height: 1.25rem; // 20px;

// Mobile p3 - Body Small
$font-mobile__p3-font-size: 0.68rem; // 11px;
$font-mobile__p3-line-height: 1rem; // 16px;

//**** Desktop and Tablet fonts
// H1 - Page Header
$font__h1-font-size: 2rem; // 32px;
$font__h1-line-height: 2.5rem; // 40px;

// H2 - Subheader
$font__h2-font-size: 1.5rem; // 24px;
$font__h2-line-height: 2rem; // 32px;

// H3 - Labels, Links & Buttons
$font__h3-font-size: 0.87rem; // 14px;
$font__h3-line-height: 1.37rem; // 22px;

// H4 - Table Header
$font__h4-font-size: 0.75rem; // 12px;
$font__h4-line-height: 1.12rem; // 18px;

// P1 - Body Large
$font__p1-font-size: 1rem; // 16px;
$font__p1-line-height: 1.75rem; // 28px;

// P2 - Body Medium -- base
$font__p2-font-size: 14px; // base desktop and tablet size
$font__p2-line-height: 1.37rem; // 22px;

// P3 - Body Small
$font__p3-font-size: 0.75rem; // 12px;
$font__p3-line-height: 1.12rem; // 18px;

//***** colors
// Primary Colors
$color-primary__instock-black: #13182c; // Globall text color
$color-primary__instock-indigo: #2e66e6; // interactive Elements
$color-primary__white: #ffffff; // GLobal White Color

// Secondary Colors
$color-secondary__slate: #5c667e; // Table columns header and place holder text
$color-secondary__cloud: #bdc5d5; // Outlines, dividers, borders, table sorting icon

// Background Colors
$color-background__graphite: #232940; // Top navigation header background, CTA buttonhover state background
$color-background__light-grey: #f7f8f9; // Page backgroun, table column headerbackground, CTA background

// Supporting Colors
$color-supporting__green: #158463; // "in stock" label
$color-supporting__red: #c94515; //  "Out of stock" label, error states & delete icon

// ***** Layout Grid
// Desktop
$grid-desktop__column: 3.9rem; // 63px
$grid-desktop__gutter: 1.5rem; // 24px

// Tablet
$grid-tablet__margin: 2rem; // 32px
$grid-tablet__gutter: 1.5rem; // 24px

// Mobile
$grid-mobile__margin: 1.5rem; // 16px
$grid-mobile__gutter: 1.5rem; // 16px

// *** Padding
$padding__base: 8px; // padding

// ***** Buttons & tags
// desktop  & tablet
$button__height: 38px;
$button__padding-width: 16px;

// mobile
$button-mobile__height: 36px;
// both
$button__border-radius: 20px;
$button__padding-height: 8px;

// space between label and field
$padding__label-form: $padding__base/2;
$padding__radio-text: $padding__base;

// tag
$tag__height: 26px;
$tag-mobile__height: 24px;
$padding__tag-width: 8px;

// Min-width
$width__tablet-min: 767px;
$width__desktop-min: 1280px;
