@font-face {
  font-family: "titilliumWeb";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "titilliumWeb";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-SemiBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "titilliumWeb";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "titilliumWeb";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "titilliumWeb";
  width: 100%;
  margin: 0;
  min-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7f8f9;
  color: #13182c;
}

h1 {
  font-size: 2.15rem;
  line-height: 2.77rem;
}

@media screen and (min-width: 767px) {
  h1 {
    font-size: 2.29rem;
    line-height: 2.86rem;
  }
}

h2 {
  font-size: 1.54rem;
  line-height: 2.15rem;
}

@media screen and (min-width: 767px) {
  h2 {
    font-size: 1.71rem;
    line-height: 2.29rem;
  }
}

h3 {
  font-size: 1rem;
  line-height: 1.54rem;
}

@media screen and (min-width: 767px) {
  h3 {
    font-size: 1rem;
    line-height: 1.57rem;
  }
}

h4 {
  font-size: 0.85rem;
  line-height: 1.23rem;
}

@media screen and (min-width: 767px) {
  h4 {
    font-size: 0.86rem;
    line-height: 1.29rem;
  }
}

p {
  font-size: 13px;
  line-height: 1.54rem;
}

@media screen and (min-width: 767px) {
  p {
    font-size: 14px;
    line-height: 1.57rem;
  }
}

.warehouse__list {
  width: 18rem;
  z-index: 99;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  position: absolute;
}

.warehouse__list-header {
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #bdc5d5;
}

.warehouse__list-container {
  list-style-type: none;
  padding: 0;
}

.header {
  padding: 0 1.5rem;
}

.header__title {
  font-family: "titilliumWeb";
  font-style: normal;
  font-weight: bold;
  width: 9.3rem;
  height: 2.25rem;
  margin: 1rem 0;
}

.header__search-container {
  position: relative;
  width: 100%;
  height: 2rem;
}

.header__search-icon {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  left: 13rem;
  top: 0.4rem;
}

.header__search-icon img {
  width: 100%;
  height: 100%;
}

.header__search {
  width: 100%;
  height: 100%;
  border: 1px solid #BDC5D5;
  border-radius: 1.25rem;
  font-size: 13px;
  line-height: 20px;
  padding-left: 1rem;
}

.header__button {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 20px;
  padding: 0 3rem;
  font-size: 11px;
  border: none;
  background-color: #2e66e6;
  color: #ffffff;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem 1.25rem;
  border-bottom: 1px solid #bdc5d5;
  margin-bottom: 1rem;
}

.list h4 {
  font-size: 0.85rem;
  line-height: 1.23rem;
  font-family: "titilliumWeb";
  font-size: 0.68rem;
  color: #5c667e;
  margin: 0;
}

.list__subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__warehouse {
  width: 50%;
}

.list__warehouse h3 {
  font-size: 1rem;
  line-height: 1.54rem;
  font-family: "titilliumWeb";
  font-size: 0.81rem;
  color: #2e66e6;
  margin: 0;
}

.list__warehouse h3 img {
  width: 1rem;
  height: 100%;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.list__contact-name {
  width: 50%;
}

.list__contact-name p {
  font-size: 13px;
  line-height: 1.54rem;
  font-family: "titilliumWeb";
  font-size: 0.75rem;
  color: #13182c;
  margin: 0;
}

.list__address {
  width: 50%;
}

.list__address h4 {
  padding-top: 0.8rem;
}

.list__address p {
  font-size: 13px;
  line-height: 1.54rem;
  font-family: "titilliumWeb";
  font-size: 0.75rem;
  color: #13182c;
  margin: 0;
}

.list__contact-info {
  width: 50%;
}

.list__contact-info h4 {
  padding-top: 0.8rem;
}

.list__contact-info p {
  font-size: 13px;
  line-height: 1.54rem;
  font-family: "titilliumWeb";
  font-size: 0.75rem;
  color: #13182c;
  margin: 0;
}

.list__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
}

.warehouse-detail {
  height: 64px;
  background-color: #232940;
}

@media screen and (min-width: 767px) {
  .warehouse-detail {
    height: 93px;
  }
}

@media screen and (min-width: 1280px) {
  .warehouse-detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: normal;
        -ms-flex-pack: normal;
            justify-content: normal;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.warehouse-detail__container {
  background-color: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  margin: 0 1.23rem;
}

@media screen and (min-width: 767px) {
  .warehouse-detail__container {
    margin: 0 2.29rem;
  }
}

@media screen and (min-width: 1280px) {
  .warehouse-detail__container {
    margin: 0;
    width: 1020px;
  }
}

.warehouse-detail__label {
  display: none;
}

@media screen and (min-width: 767px) {
  .warehouse-detail__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(247, 248, 249, 0.7);
    height: 40px;
    position: relative;
  }
  .warehouse-detail__label img {
    position: absolute;
    top: 8px;
  }
  .warehouse-detail__label h4 {
    color: #5c667e;
  }
  .warehouse-detail__label-item {
    margin: 0;
    padding-left: 32px;
    width: 21.3%;
  }
  .warehouse-detail__label-category {
    margin: 0;
    width: 17.19%;
  }
  .warehouse-detail__label-status {
    margin: 0;
    width: 25.85%;
  }
  .warehouse-detail__label-qty {
    margin: 0;
    width: 22%;
  }
  .warehouse-detail__label-actions {
    margin: 0;
    padding-right: 32px;
  }
}

.warehouse-detail__list {
  padding: 0;
}

.warehouse-detail__list :last-child {
  border: none;
}

.warehouse-detail__copyright {
  margin: 40px 0;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .warehouse-detail__copyright {
    margin-top: 155px;
  }
}

@media screen and (min-width: 1280px) {
  .warehouse-detail__copyright {
    margin-top: 48px;
  }
}

.warehouse-header {
  border-bottom: 1px solid #bdc5d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.warehouse-header__header-left {
  margin-left: 28px;
}

@media screen and (min-width: 767px) {
  .warehouse-header__header-left {
    margin-left: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .warehouse-header__header-left {
    margin-left: 44px;
  }
}

.warehouse-header__backArrow {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

@media screen and (min-width: 767px) {
  .warehouse-header__backArrow {
    margin-right: 12px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}

.warehouse-header__header-right {
  margin-right: 24px;
}

@media screen and (min-width: 767px) {
  .warehouse-header__header-right {
    margin-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .warehouse-header__header-right {
    margin-right: 40px;
  }
}

.warehouse-header__edit-button {
  background: #2e66e6;
  border-radius: 20px;
  width: 36px;
  height: 36px;
  border: none;
}

.warehouse-header__edit-button span {
  display: none;
}

@media screen and (min-width: 767px) {
  .warehouse-header__edit-button span {
    display: inline;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.57rem;
  }
}

@media screen and (min-width: 767px) {
  .warehouse-header__edit-button {
    width: 81px;
    height: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 8px 16px;
  }
}

.warehouse-header__edit-icon {
  height: 15px;
  width: 15px;
}

.warehouse-info {
  border-bottom: 1px solid #bdc5d5;
  margin-top: 16px;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
}

.warehouse-info h4 {
  color: #5c667e;
  margin: 0;
  margin-bottom: 4px;
}

.warehouse-info p {
  margin: 0;
}

@media screen and (min-width: 767px) {
  .warehouse-info {
    padding-left: 32px;
    border: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 767px) {
  .warehouse-info__contact-left {
    width: 246px;
    border-right: 1px solid #bdc5d5;
    height: 66px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 1280px) {
  .warehouse-info__contact-left {
    width: 410px;
  }
}

.warehouse-info__address-container {
  margin-bottom: 16px;
  width: 259px;
}

.warehouse-info__contact-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 767px) {
  .warehouse-info__contact-right {
    margin-left: 40px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.warehouse-info__contact-name-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 140px;
  margin-right: 16px;
}

@media screen and (min-width: 1280px) {
  .warehouse-info__contact-name-container {
    width: 245px;
  }
}

.warehouse-info__contact-info-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.warehouse-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #bdc5d5;
  min-width: 320px;
}

.warehouse-item__left {
  padding-left: 32px;
  width: 156px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 767px) {
  .warehouse-item__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 38.49%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.warehouse-item__label {
  color: #5c667e;
}

@media screen and (min-width: 767px) {
  .warehouse-item__label {
    display: none;
  }
}

.warehouse-item__name {
  position: relative;
}

.warehouse-item__name img {
  position: absolute;
  top: 2px;
}

@media screen and (min-width: 767px) {
  .warehouse-item__link {
    width: 55.33%;
    text-decoration: none;
    color: #2e66e6;
    font-weight: bold;
  }
}

@media screen and (min-width: 767px) {
  .warehouse-item__category {
    width: 44.67%;
  }
}

.warehouse-item__right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media screen and (min-width: 767px) {
  .warehouse-item__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 46%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}

.warehouse-item__status {
  height: 24px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
}

@media screen and (min-width: 767px) {
  .warehouse-item__status-container {
    width: 58.71%;
  }
}

.warehouse-item__status--inStock {
  width: 61px;
  color: #158463;
  background: rgba(21, 132, 99, 0.07);
}

.warehouse-item__status--noStock {
  width: 86px;
  color: #c94515;
  background: rgba(201, 69, 21, 0.07);
}

.warehouse-item__quantity {
  text-align: left;
}

@media screen and (min-width: 767px) {
  .warehouse-item__quantity {
    width: 41.29%;
  }
}

.warehouse-item__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 28px;
  padding: 0 32px;
}

@media screen and (min-width: 767px) {
  .warehouse-item__actions {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 1280px) {
  .warehouse-item__delete-button {
    margin-right: 24px;
  }
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  height: 195px;
  background-color: #232940;
  font-size: 13px;
  line-height: 1.54rem;
}

@media screen and (min-width: 767px) {
  .header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.header__warehouses {
  width: 164px;
  height: 36px;
  background-color: #13182c;
  color: white;
  border-radius: 20px;
  width: 10.25rem;
  height: 1.25rem;
}

.header__inventory {
  background-color: #13182c;
  color: #bdc5d5;
}

.inventory {
  margin-right: 16px;
  margin-left: 16px;
}

@media screen and (min-width: 767px) {
  .inventory {
    margin-right: 32;
    margin-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .inventory {
    margin-right: 130px;
    margin-left: 130px;
  }
}

.inventory--break {
  border-color: #bdc5d5;
  background-color: #bdc5d5;
  border: 1px;
  height: 1px;
  width: 100%;
}

.table {
  background-color: #ffffff;
}

.table__header {
  display: none;
  padding-left: 24px;
}

@media screen and (min-width: 767px) {
  .table__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: rgba(247, 248, 249, 0.7);
    margin-bottom: 20px;
    padding-left: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .table__header {
    padding-left: 40px;
  }
}

.table__header-text {
  font-size: 0.86rem;
  line-height: 1.29rem;
  font-weight: bold;
  color: #5c667e;
}

.table__header--container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.table__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 24px;
  margin-right: 24px;
}

@media screen and (min-width: 767px) {
  .table__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .table__item {
    margin-left: 40px;
    margin-right: 40px;
  }
}

.table__item__container {
  width: 50%;
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
  .table__item__container {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .table__item__container:nth-child(1) {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .table__item__container:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .table__item__container:nth-child(3) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.table__item-label {
  color: #5c667e;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 0.85rem;
  line-height: 1.23rem;
}

@media screen and (min-width: 767px) {
  .table__item-label {
    display: none;
  }
}

.table__item-text {
  font-size: 1rem;
  line-height: 1.54rem;
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
  .table__item-text {
    font-size: 1rem;
    line-height: 1.57rem;
  }
}

.table__item__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 767px) {
  .table__item__icons {
    width: auto;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.table__item__icons--delete {
  margin-right: 24px;
}

.status {
  border-radius: 20px;
  width: 65px;
  height: 26px;
  padding: 4px 8px;
  font-weight: bold;
}

.status-in {
  color: #158463;
  background-color: rgba(21, 132, 99, 0.07);
}

.status-out {
  color: #c94515;
  background-color: rgba(201, 69, 21, 0.07);
}

.page-header {
  background-color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 767px) {
  .page-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .page-header {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media screen and (min-width: 767px) {
  .page-header__h1 {
    margin-right: auto;
  }
}

.page-header-search {
  border-radius: 20px;
  width: 100%;
  height: 36px;
  margin-bottom: 16px;
}

@media screen and (min-width: 767px) {
  .page-header-search {
    width: 185px;
    margin-right: 16px;
    margin-top: auto;
    margin-bottom: auto;
  }
}

.page-header-button {
  border-radius: 20px;
  background-color: #2e66e6;
  width: 100%;
  height: 36px;
  color: #ffffff;
  border-style: none;
  margin-bottom: 24px;
}

@media screen and (min-width: 767px) {
  .page-header-button {
    width: 128px;
    margin-top: auto;
    margin-bottom: auto;
  }
}
/*# sourceMappingURL=App.css.map */