@font-face {
  font-family: "titilliumWeb";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-SemiBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "titilliumWeb";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-SemiBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "titilliumWeb";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "titilliumWeb";
  src: url("../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "titilliumWeb";
}

h1 {
  font-size: 2.15rem;
  line-height: 2.77rem;
}

@media screen and (min-width: 767px) {
  h1 {
    font-size: 2.29rem;
    line-height: 2.86rem;
  }
}

h2 {
  font-size: 1.54rem;
  line-height: 2.15rem;
}

@media screen and (min-width: 767px) {
  h2 {
    font-size: 1.71rem;
    line-height: 2.29rem;
  }
}

h3 {
  font-size: 1rem;
  line-height: 1.54rem;
}

@media screen and (min-width: 767px) {
  h3 {
    font-size: 1rem;
    line-height: 1.57rem;
  }
}

h4 {
  font-size: 0.85rem;
  line-height: 1.23rem;
}

@media screen and (min-width: 767px) {
  h4 {
    font-size: 0.86rem;
    line-height: 1.29rem;
  }
}

p {
  font-size: 13px;
  line-height: 1.54rem;
}

@media screen and (min-width: 767px) {
  p {
    font-size: 14px;
    line-height: 1.57rem;
  }
}

.warehouse__list {
  min-width: 18rem;
  z-index: 99;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
          box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  position: absolute;
}

.warehouse__list-header {
  padding: 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #bdc5d5;
}

.warehouse__list-container {
  list-style-type: none;
  padding: 0;
}

.header {
  padding: 0 1.5rem;
}

.header__title {
  font-family: "titilliumWeb";
  font-style: normal;
  font-weight: bold;
  width: 9.3rem;
  height: 2.25rem;
  margin: 1rem 0;
}

.header__search-container {
  position: relative;
  width: 100%;
  height: 2rem;
}

.header__search-icon {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  left: 13rem;
  top: 0.4rem;
}

.header__search-icon img {
  width: 100%;
  height: 100%;
}

.header__search {
  width: 100%;
  height: 100%;
  border: 1px solid #BDC5D5;
  border-radius: 1.25rem;
  font-size: 13px;
  line-height: 20px;
  padding-left: 1rem;
}

.header__button {
  width: 100%;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 20px;
  padding: 0 3rem;
  font-size: 0.68rem;
  border: none;
  background-color: #2e66e6;
  color: #ffffff;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1rem 1.25rem;
  border-bottom: 1px solid #bdc5d5;
  margin-bottom: 1rem;
}

.list h4 {
  font-size: 0.85rem;
  line-height: 1.23rem;
  font-family: "titilliumWeb";
  font-size: 0.68rem;
  color: #5c667e;
  margin: 0;
}

.list__main-header {
  display: none;
}

.list__subcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__warehouse {
  width: 50%;
}

.list__warehouse-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__warehouse-wrapper h3 {
  font-size: 1rem;
  line-height: 1.54rem;
  font-family: "titilliumWeb";
  font-size: 0.81rem;
  color: #2e66e6;
  margin: 0;
}

.list__warehouse-wrapper img {
  width: 1.5rem;
  height: 100%;
  padding-left: 0.5rem;
}

.list__contact-name {
  width: 50%;
}

.list__contact-name p {
  font-size: 13px;
  line-height: 1.54rem;
  font-family: "titilliumWeb";
  font-size: 0.75rem;
  color: #13182c;
  margin: 0;
}

.list__address {
  width: 50%;
}

.list__address h4 {
  padding-top: 0.8rem;
}

.list__address p {
  font-size: 13px;
  line-height: 1.54rem;
  font-family: "titilliumWeb";
  font-size: 0.75rem;
  color: #13182c;
  margin: 0;
}

.list__contact-info {
  width: 50%;
}

.list__contact-info h4 {
  padding-top: 0.8rem;
}

.list__contact-info p {
  font-size: 13px;
  line-height: 1.54rem;
  font-family: "titilliumWeb";
  font-size: 0.75rem;
  color: #13182c;
  margin: 0;
}

.list__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
}

@media screen and (min-width: 767px) {
  .warehouse__list {
    min-width: 44rem;
  }
  .warehouse__list-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem 1.5rem;
  }
  .warehouse__list-subheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header__title {
    font-size: 2.29rem;
    line-height: 2.86rem;
    margin: 0;
  }
  .header__search-container {
    width: 10rem;
  }
  .header__search {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
  }
  .header__search-icon {
    left: 8rem;
    top: 0.85rem;
  }
  .header__button {
    width: 10rem;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
  }
  .list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1.5rem 1.25rem;
  }
  .list h4 {
    display: none;
  }
  .list__main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 1.5rem;
  }
  .list__main-header h4 {
    font-size: 0.75rem;
    color: #5c667e;
  }
  .list__main-subheader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .list__main-subheader h4 {
    font-size: 0.75rem;
    color: #5c667e;
  }
  .list__subcontainer {
    width: 40%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .list__warehouse {
    width: 30%;
  }
  .list__address {
    width: 30%;
  }
  .list__address h4 {
    padding: 0;
  }
  .list__contact-name {
    width: 40%;
  }
  .list__contact-info {
    width: 40%;
  }
  .list__contact-info h4 {
    padding: 0;
  }
  .list__icons {
    width: 4rem;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}
/*# sourceMappingURL=App.css.map */