.add-inventory {
  display: flex;
  flex-direction: column;
  min-width: 91%;
  height: 63px;
  background-color: $color-background__graphite;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
  @include tablet {
    height: 91px;
  }
  &-header {
    display: flex;
    background-color: $color-primary__white;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $color-secondary__cloud;
    margin: 0 1rem;
    @include desktop {
      margin: 0 8.12rem;
    }
    &__h1 {
      font-size: 1.75rem;
      line-height: 2.25rem;
      margin: 0.87rem 0 0.5rem;
      font-weight: bold;
    }
    &--button {
      height: 50%;
      align-self: center;
      background-color: $color-primary__white;
      border: none;
      margin-right: 12px;
    }
  }

  &__h2 {
    @include tablet {
      margin-bottom: 32px;
      margin-top: 0;
    }
  }

  &__form {
    @include tablet {
      padding: 0 2rem 1.5rem;
      width: 50%;
    }
    &--label {
      @include font-mobile__h3;
      font-weight: bold;
      margin-bottom: 4px;
      @include tablet {
        @include font__h3;
      }
    }
    &--input {
      background-color: $color-primary__white;
      border: 1px solid #bdc5d5;
      box-sizing: border-box;
      border-radius: 20px;
      width: 100%;
      height: 36px;
      padding-right: 16px;
      padding-left: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      @include font-mobile__h3;
      margin-bottom: 16px;
      @include tablet {
        @include font__h3;
      }
    }

    &-radio {
      width: 80%;
      display: flex;
      justify-content: space-between;
    }

    &--text {
      border: 1px solid #bdc5d5;
      box-sizing: border-box;
      border-radius: 20px;
      width: 100%;
      height: 120px;
      padding-right: 16px;
      padding-left: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      font-family: titilliumWeb;
      @include font-mobile__h3;
      @include tablet {
        @include font__h3;
      }
    }
  }

  &--container {
    padding-left: 24px;
    padding-right: 24px;
    background-color: $color-primary__white;
    margin: 0 1rem;
    @include tablet {
      display: flex;
      padding-left: 32px;
      padding-right: 32px;
      padding-bottom: 24px;
      padding-top: 24px;
    }

    @include desktop {
      margin: 0 8.12rem;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  &__controller {
    margin: 0 1rem;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    background-color: $color-background__light-grey;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.2);
    @include tablet {
      justify-content: flex-end;
      padding-left: 32px;
      padding-right: 32px;
    }
    &-edit {
      width: 139px;
      height: 36px;
      border: 1px solid #bdc5d5;
      box-sizing: border-box;
      border-radius: 20px;
      background-color: $color-primary__instock-indigo;
      padding-top: 4px;
      margin-right: 17px;
      text-align: center;
      text-decoration: none;
      color: $color-primary__white;
      @include font-mobile__h3;
      font-weight: bold;
      @include tablet {
        width: 72px;
        height: 38px;
        margin-right: 16px;
        @include font__h3;
      }
    }
    @include desktop {
      margin: 0 8.12rem;
      padding-left: 40px;
      padding-right: 40px;
    }
    &-cancel {
      width: 139px;
      height: 36px;
      border: 1px solid #bdc5d5;
      box-sizing: border-box;
      border-radius: 20px;
      background-color: $color-primary__white;
      padding-top: 4px;
      margin-right: 17px;
      text-align: center;
      text-decoration: none;
      color: $color-secondary__slate;
      @include font-mobile__h3;
      font-weight: bold;
      @include tablet {
        width: 72px;
        height: 38px;
        margin-right: 16px;
        @include font__h3;
      }
    }

    &-button {
      width: 139px;
      height: 36px;
      border-radius: 20px;
      background-color: $color-primary__instock-indigo;
      color: $color-primary__white;
      border: none;
      @include font-mobile__h3;
      font-weight: bold;
      @include tablet {
        //width: 72px;
        height: 38px;
        @include font__h3;
      }
    }
  }

  &--break {
    margin: 0;
    &-item {
      @include tablet {
        margin-left: 32px;
        margin-right: 32px;
      }

      @include desktop {
        margin-left: 40px;
        margin-right: 40px;
      }
    }
  }
}

.radio-label {
  @include font-mobile__h3;
  @include tablet {
    @include font__h3;
  }
}

.form-border {
  border-bottom: 1px solid $color-secondary__cloud;
  @include tablet {
    border: none;
    border-right: 1px solid $color-secondary__cloud;
    padding-left: 0;
  }
}
