.table {
  &__header {
    display: none;
  }

  &__item {
    display: flex;
    //flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;

    &__container {
      width: 50%;
      margin-bottom: 20px;
    }
    &-label {
      color: $color-secondary__slate;
      font-weight: bold;
      @include font-mobile__h4;
    }

    &-text {
      font-size: 13px;
      line-height: 20px;
      margin-bottom: 20px;
    }

    &__icons {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
  }
}
