.table {
  background-color: $color-primary__white;
  &__header {
    display: none;
    padding-left: 24px;
    //padding-right: 24px;
    @include tablet {
      display: flex;
      background-color: rgba(247, 248, 249, 0.7);
      margin-bottom: 20px;
      padding-left: 32px;
    }
    @include desktop {
      padding-left: 40px;
    }

    &-text {
      @include font__p3;
      font-weight: bold;
      color: $color-secondary__slate;
    }

    &--container {
      flex: 1;
    }
  }

  &__item-right {
    width: 1.5rem;
    padding-left: 0.5rem;
    &:hover {
      -webkit-transform: translateX(5px);
      -webkit-transition: transform 0.4s ease-in-out;
      -moz-transform: translateX(5px);
      -moz-transition: transform 0.4s ease-in-out;
      -ms-transform: translateX(5px);
      -ms-transition: transform 0.4s ease-in-out;
      -o-transform: translateX(5px);
      -o-transition: transform 0.4s ease-in-out;
      transform: translateX(5px);
      transition: transform 0.4s ease-in-out;
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-bottom: 1px solid $color-secondary__cloud;
    @include tablet {
      justify-content: flex-start;
      flex-wrap: none;
    }

    &__name {
      padding-left: 1.5rem;
      width: 50%;
      @include tablet {
        width: 20.3%;
        order: 0;
      }
    }
    &__category {
      padding-left: 1.5rem;
      width: 50%;
      // flex-grow: 1;
      @include tablet {
        order: 2;
        width: 21.19%;
      }
    }
    &__status {
      margin: 0;
      // flex-grow: 1;
      width: 50%;
      @include tablet {
        order: 3;
        width: 18.85%;
      }
    }
    &__quantity {
      margin: 0;
      width: 50%;
      // flex-grow: 1;
      @include tablet {
        order: 4;
        width: 11%;
      }
    }
    &__warehouse {
      margin: 0;
      width: 50%;
      @include tablet {
        order: 5;
        width: 17%;
      }
    }
    &__icons {
      margin: 0;
      padding: 1rem 1.5rem 1rem;
      display: flex;
      justify-content: space-between;
      width: 100%;
      @include tablet {
        width: 5%;
        order: 6;
        padding: 0;
        // width: fit-content;
        justify-content: flex-start;
      }

      &--link {
        display: flex;
        // @include tablet {
        // }
      }
    }

    &-name {
      position: relative;
      img {
        position: absolute;
        top: 1px;
        width: 1.5rem;
        height: 1.5rem;
        padding-left: 0.5rem;
        &:hover {
          -webkit-transform: translateX(5px);
          -webkit-transition: transform 0.4s ease-in-out;
          -moz-transform: translateX(5px);
          -moz-transition: transform 0.4s ease-in-out;
          -ms-transform: translateX(5px);
          -ms-transition: transform 0.4s ease-in-out;
          -o-transform: translateX(5px);
          -o-transition: transform 0.4s ease-in-out;
          transform: translateX(5px);
          transition: transform 0.4s ease-in-out;
        }
      }
    }
    &-label {
      color: $color-secondary__slate;
      font-weight: bold;
      margin-bottom: 8px;
      @include tablet {
        display: none;
      }
    }

    &-link {
      text-decoration: none;
      @include tablet {
        //width: 55.33%;
        color: $color-primary__instock-indigo;
        font-weight: bold;
      }
    }

    &-text {
      @include font-mobile__h3;
      font-size: 13px;
      // margin-bottom: 20px;
      margin: 0;
      @include tablet {
        @include font__h3;
        font-size: 14px;
        margin: 1rem 0;
      }
    }
  }
}

.status {
  height: 26px;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  &-in {
    width: 70px;
    color: $color-supporting__green;
    background: rgba(21, 132, 99, 0.07);
  }
  &-out {
    width: 98px;
    color: $color-supporting__red;

    background: rgba(201, 69, 21, 0.07);
  }
}

.inventory {
  &__list {
    display: flex;
    flex-direction: column;
    min-width: 91%;
    height: 64px;
    background-color: $color-background__graphite;
    // box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.5);

    @include tablet {
      min-width: 44rem;
      height: 93px;
    }

    &--container {
      background-color: $color-primary__white;
      border-radius: 3px;
      box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
      margin: 0 1rem;
      @include tablet {
        margin: 0 $grid-tablet__margin;
      }
      @include desktop {
        margin: 0 8.12rem;
      }
    }
  }

  &__list-header {
    background-color: $color-primary__white;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-secondary__cloud;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 1.5rem;
    }
  }
  &__list-container {
    background-color: $color-primary__white;
    list-style-type: none;
    padding: 0;
    margin: 0 1rem;
    @include desktop {
      margin: 0 8.12rem;
    }
  }

  &__list--table {
    padding: 0;
    :last-child {
      border: none;
    }
  }

  &__list-subheader {
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }
}

.inventory-table__label {
  display: none;
  @include tablet {
    @include display-flex(row, left, center);
    background: rgba($color-background__light-grey, 0.7);
    height: $padding__base * 5;
    position: relative;
    img {
      position: absolute;
      top: 8px;
    }
    h4 {
      color: $color-secondary__slate;
    }
    &-item {
      margin: 0;
      padding-left: 1.5rem;
      width: 22.3%;
      // flex-grow: 1;
    }
    &-category {
      margin: 0;
      width: 19.19%;
      // flex-grow: 1;
    }
    &-status {
      margin: 0;
      // flex-grow: 1;
      width: 18.85%;
    }
    &-qty {
      margin: 0;
      width: 11%;
      // flex-grow: 1;
    }
    &-warehouse {
      margin: 0;
      width: 19%;
    }
    &-actions {
      margin: 0;
      // flex-grow: 1;
      padding-right: 1.5rem;
    }
  }
}