.warehouse-item {
  @include display-flex(row, left, center);
  flex-wrap: wrap;
  border-bottom: 1px solid $color-secondary__cloud;
  min-width: 320px;

  &__left {
    padding-left: $padding__base * 4;

    width: 156px;
    flex-grow: 1;
    @include tablet {
      @include display-flex(row, left, center);
      width: 38.49%;
      flex-grow: 0;
    }
  }
  &__label {
    color: $color-secondary__slate;
    @include tablet {
      display: none;
    }
  }
  &__name {
    position: relative;
    img {
      position: absolute;
      top: 1px;
      width: 1.5rem;
      height: 1.5rem;
      padding-left: 0.5rem;
      &:hover {
        -webkit-transform: translateX(5px);
        -webkit-transition: transform 0.4s ease-in-out;
        -moz-transform: translateX(5px);
        -moz-transition: transform 0.4s ease-in-out;
        -ms-transform: translateX(5px);
        -ms-transition: transform 0.4s ease-in-out;
        -o-transform: translateX(5px);
        -o-transition: transform 0.4s ease-in-out;
        transform: translateX(5px);
        transition: transform 0.4s ease-in-out;
      }
    }
  }
  &__link {
    text-decoration: none;

    @include tablet {
      width: 55.33%;
      color: $color-primary__instock-indigo;
      font-weight: bold;
    }
  }
  &__category {
    @include tablet {
      width: 44.67%;
      // flex-grow: 1;
    }
  }
  &__right {
    flex-grow: 1;
    @include tablet {
      @include display-flex(row, left, center);
      width: 46%; //44.03%;;
      flex-grow: 0;
    }
  }
  &__status {
    height: 24px;
    border-radius: 20px;
    text-align: center;
    font-weight: bold;
    &-container {
      @include tablet {
        width: 58.71%;
        // flex-grow: 1;
      }
    }
    &--inStock {
      width: 61px;
      color: $color-supporting__green;
      background: rgba(21, 132, 99, 0.07);
    }
    &--noStock {
      width: 86px;
      color: $color-supporting__red;

      background: rgba(201, 69, 21, 0.07);
    }
  }
  &__quantity {
    text-align: left;
    @include tablet {
      width: 41.29%;
      // flex-grow: 1;
    }
  }
  &__actions {
    @include display-flex(row, space-between, center);
    width: 100%;
    margin-bottom: 28px;
    padding: 0 $padding__base * 4;
    @include tablet {
      justify-content: left;
      width: fit-content;
      margin: 0;
      padding: 0;
    }
  }
  &__delete-button {
    @include tablet {
      margin-right: $padding__base * 3;
    }
  }
  &__edit-button {
  }
}
